{% extends "base.html.twig" %}

{% block body %}
    <div class="card mb-3">
        <h3 class="card-header">
            <img class="card-subtitle" style="margin-right: 1%;" src="https://www.countryflags.io/{{ pilot.country }}/shiny/32.png">{{ pilot.rank.title }} {{ pilot.lastname }}
        </h3>
        <div class="card-body">
            <h5 class="card-title">{{ pilot.rank.title }}</h5>
            <h6 class="card-subtitle text-muted">{{ pilot.firstname }} {{ pilot.lastname }}</h6>
        </div>
        <div class="card-body">
            <p class="card-text">{{ pilot.age }} years old.</p>
            <p class="card-text">Retired: {% if  pilot.retired %} Yes{% else %} No{% endif %}.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Has {{ timesFlown }} recorded flight{% if timesFlown != 1 %}s{% endif %}.</li>
        </ul>
        <div class="card-body">
            <a href="{{ url('editAPilot', {'id': pilot.id}) }}" class="card-link">Edit</a>
        </div>
        {% if timesFlown %}
            <div class="card-footer text-muted">
                Last flight was with the {{ plane.model }}
            </div>
        {% endif %}
    </div>
{% endblock %}